html,
body,
#root,
.App {
  height: 100%
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#section1 {
  background-color: #eef2f7;
}

#section2 {
  height: 1500px;
  background: linear-gradient(224deg, #ce71e0 0%, #489aff 100%);
  position: relative;
}

.howsItWork:hover .down-arrow {
  transform: scale(85%);
}

.howsItWork {
  margin: 20px 0;
  font-size: 35px;
  cursor: pointer;
  bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  position: absolute;
  padding-top: 25px;
}

.down-arrow {
  max-width: 40px;
  margin-right: 10px;
  transition-duration: 200ms;
}

.answer {
  height: 0;
  overflow: hidden;
  transition-duration: 1000ms;
}

.answer.open {
  height: 100%;
}

.faq-row-wrapper {
  border-radius: 13px;
  width: 90%;
  position: absolute;
  top: 30px;
  /* padding: 16px; */
}

.faq-row-wrapper .faq-row:last-child {
  border: none;
  border-bottom: none;
}

.faq-row-wrapper section.faq-title {
  padding-left: 10px;
}

.row-title {
  margin-left: 10px;
  font-weight: bold;
}

.faq-row{
  padding: 10px !important;
}

.faq-row-wrapper .faq-body .faq-row .row-content .row-content-text {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

/* .faq-row-wrapper .faq-body .faq-row:not(:last-child) .row-content .row-content-text{
  margin-left: 20px;
  margin-right: 20px;
} */

.step-top-gradient {
  background-size: 400% 400%;
  width: 500px;
  height: 500px;
  /* background: linear-gradient(270deg, #e66465, #9198e5); */
  background: linear-gradient(80deg, #00dbff, #ff78e2);
  background-size: 200% 200%;
  mask-image: url(./images/stepone.png);
  mask-mode: alpha;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  animation: colorspin 5s ease infinite;
  max-height: 300px;
}

.step-bottom {
  max-width: 500px;
}

.step-image img {
  max-width: 300px;
  height: 300px;
}

.step-content-lower{
  max-width: 300px;
}

@keyframes colorspin {
  0% {
    background-position: 0% 59%
  }

  50% {
    background-position: 100% 42%
  }

  100% {
    background-position: 0% 59%
  }
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step-content {
  font-size: 26px;
  font-weight: bold;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  overflow-x: scroll;
}

.example-image {
  margin-right: 10px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  background-color: #eef2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

a {
  color: #b8b8f3;
}

.faq {
  position: absolute;
  top: 100px;
}

.faq-row-wrapper *{
  color: white !important;
}

.step-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#step-one .step-image>*{
  height: 150px;
  max-width: 300px;
  }

@media only screen and (max-width: 600px){
  .examples{
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }

  .section{
    height: fit-content;
  }
  .howsItWork{
    position: relative;
    bottom: 0;
  }
  .step-list{
    flex-direction: column;
  }
  .step-image img{
    max-width: 150px;
    height: 150px;
  }
  #step-one .step-image>*{
    max-width: 200px;
    height: 100px;
  }
  #step-three .step-image>*{
    max-width: 100px;
    height: 100px;
  }
}